[Desktop Entry]
Version=1.0
Type=Application
Name=Pysigview
GenericName=Pysigview
Comment=Python signal viewer
TryExec=pysigview
Exec=pysigview %F
Categories=Engineering;Science;IDE;Qt;
Icon=pysigview
Terminal=false
StartupNotify=true
MimeType=text/x-python;
X-AppStream-Ignore=True